body{
    background-image: linear-gradient(#B068E9, #6463E7 );
    min-height: 100vh;
    background-repeat: no-repeat;
    font-family: "Kumbh Sans", sans-serif;
    font-size: 14px;
}

.container {
    display: flex;
    width: 920px;
    height: 509px;
    min-height: 509px;
    margin: 100px auto;
    border-radius: 15px;
    background-color: #FFF;
    overflow: hidden;
}


/* Illustratives Images Section */
.container__illustrative-images {
    width: 472px;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: -570px -300px; ;
    overflow: hidden;
}

.illustrative__image--desktop {
    width: 472px;
    height: 359px;
    margin: 70px 0 0 -84px;
}

.illustrative__image--mobile {
    display : none
}

.box {
    position: absolute;
    top: calc(740px - 50%);
    left: 78px;
}

/* FAQ Section */
.faq {
    margin-top: 40px;
    width: 350px;
}

.faq h1 {
    color: #1E1F36;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 43px;
}

.question-arrow-answer{
    display: flex;
    justify-content: space-between;
    margin-top: -13px;
    flex-wrap: wrap;
    cursor: pointer;
}

.line-bottom {
    width: 100%;
    height: 1px;
    background-color: #E8E8EA;
    margin-top: 16px;
    margin-bottom: 16px;
}

.question {
    font-size: 14px;
    color: #4B4C5F;
    width: 251px;
    height: 17px;
    margin-bottom: 0;
    flex-grow: 2;
    transition: color .2s;
}

.question:hover {
    color: #F47B56;
}


.arrow {
    width: 16px;
    height: 8px;
    align-self: center;
    margin-right: 16px;
    cursor: pointer;
    margin-left: auto;
    margin-bottom: -13px;
    background-image: url('./images/icon-arrow-down.svg');
    background-repeat: no-repeat;
    transition: all .2s;
}

.answer {
    font-weight: 400;
    margin-top: 11px;
    color: #787887;
    flex-grow: 100; 
    margin-bottom: 0;
    animation: fadeInOut .5s ;
}

.active {
    font-weight: 700;
}

.hidden {
    display: none;
}

.rotate {
    transform : rotate(180deg);
}


@keyframes fadeInOut {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Media Queries */

@media only screen and (max-width : 375px) {
    .container {
        width: 327px;
        min-height: 535px;
        flex-direction: column;
        justify-content: stretch;
        margin: 150px auto;
        overflow: visible;
    }

    .box {
        display: none;
    }

    .container__illustrative-images {
        width: 472px;
        background-image: url(./images/bg-pattern-mobile.svg);
        background-repeat: no-repeat;
        background-position: 50px 0px; ;
    }

    .illustrative__image--desktop {
        display: none;
    }
    
    .illustrative__image--mobile {
        display: block;
        width: 237px;
        height: 180px;
        transform: translate(50px, -110px);
    }

    /* FAQ responsive design */
    .faq {
        width: 280px;
        align-self: center;
        margin-top: -80px;
    }

    .faq h1 {
        text-align: center;
    }

    .question {
        width: 233px;
        font-size: 13px;
    }

    .answer {
        font-size: 12px;
    }
}
